<div class="main">
    <div class="overview">
        <h5>游戏内容数据统计概况</h5>
        <ul>
            <li>
                <p class="number">{{gameOverviewData?.total}}</p>
                <p class="name">总数量</p>
            </li>
            <li>
                <p class="number">{{gameOverviewData?.apply}}</p>
                <p class="name">版号申请中</p>
            </li>
            <li>
                <p class="number">{{gameOverviewData?.approved}}</p>
                <p class="name">版号已通过</p>
            </li>
            <li>
                <p class="number">{{gameOverviewData?.release}}</p>
                <p class="name">已发布</p>
            </li>
        </ul>
    </div>
    <div class="management">
        <h5>本根服务器G型系统功能</h5>
        <ul class="clearfix">
            <li class="create" (click)="handleCreateClick()">
                <a>创建游戏</a>
            </li>
            <li class="view" (click)="handleViewClick()">
                <a>游戏列表</a>
            </li>
            <li class="all" (click)="handleTrackClick()">
                <a>全流程跟踪</a>
            </li>
            <li class="no-pointer isli" (click)="handlesIsliDataClick()">
                <a>ISLI数据统计</a>
            </li>
            <li class="no-pointer open" (click)="handleOpenPlatformClick()">
                <a>开放平台</a>
            </li>
            <li class="no-pointer system" (click)="handleSystemManagementClick()">
                <a>系统管理</a>
            </li>
        </ul>
    </div>
</div>