.main {
    width: 1440px;
    margin: 0 auto;
    li {
        list-style-type: none;
    }
    .overview,
    .management {
        width: 100%;
        margin-top: 20px;
        background: #fff;
        padding: 20px 30px 0 30px;
        box-shadow: 0 8px 18px 0 rgba(50, 82, 106, 0.05);
        h5 {
            height: 21px;
            line-height: 21px;
            border-left: 6px solid rgba(25, 133, 213, 1);
            padding-left: 17px;
            font-family: SourceHanSansSC-Medium;
            font-size: 18px;
            color: #2A2E31;
            font-weight: normal;
        }
        ul {
            li {
                display: inline-block;
            }
        }
    }
    .overview {
        ul {
            margin: 20px 0 0;
            border-top: 1px solid #eee;
            li {
                width: 345px;
                height: 213px;
                padding-top: 65px;
                background: url(/assets/images/homeLine.png)right center no-repeat;
                &:last-child {
                    background: none;
                }
                p {
                    text-align: center;
                }
                .name {
                    font-family: SourceHanSansSC-Medium;
                    font-size: 14px;
                    color: #666666;
                    height: 30px;
                    line-height: 20px;
                    padding-top: 10px;
                }
                .number {
                    font-family: DIN-Medium;
                    font-size: 40px;
                    color: #1985D5;
                    height: 48px;
                    line-height: 48px;
                }
            }
        }
    }
    .management {
        padding-bottom: 36px;
        ul {
            margin: 20px 0 0;
            padding-top: 21px;
            border-top: 1px solid #eee;
            li {
                width: 400px;
                height: 180px;
                color: #2d8ed8;
                float: left;
                cursor: pointer;
                margin: 36px 30px 0 30px;
                a {
                    width: 100%;
                    height: 180px;
                    display: inline-block;
                    padding-left: 157px;
                    line-height: 157px;
                    font-family: SourceHanSansSC-Medium;
                    font-size: 26px;
                    color: #FCFDFE;
                    cursor: pointer;
                }
                &.isli {
                    background: url(/assets/images/isliBg.png) no-repeat;
                    background-position: 0 0;
                    & a {
                        background: url(/assets/images/isli.png) 60px 28px no-repeat;
                    }
                }
                &.create {
                    background: url(/assets/images/createBg.png) no-repeat;
                    background-position: 0 0;
                    & a {
                        background: url(/assets/images/create.png) 60px 28px no-repeat;
                    }
                }
                &.view {
                    background: url(/assets/images/viewBg.png) no-repeat;
                    background-position: 0 0;
                    & a {
                        background: url(/assets/images/view.png) 60px 28px no-repeat;
                    }
                }
                &.all {
                    background: url(/assets/images/allBg.png) no-repeat;
                    background-position: 0 0;
                    & a {
                        background: url(/assets/images/all.png) 60px 28px no-repeat;
                    }
                }
                &.open {
                    background: url(/assets/images/openBg.png) no-repeat;
                    background-position: 0 0;
                    & a {
                        background: url(/assets/images/open.png) 60px 28px no-repeat;
                    }
                }
                &.system {
                    background: url(/assets/images/systemBg.png) no-repeat;
                    background-position: 0 0;
                    & a {
                        background: url(/assets/images/system.png) 60px 28px no-repeat;
                    }
                }
                &.no-pointer a {
                    cursor: auto;
                }
                &:hover {
                    background-position: 0 -180px;
                }
            }
        }
    }
}