.logo {
  width: 498px;
  height: 121px;
  position: absolute;
  top: 30px;
  left: 70px;
  // background: url(/assets/images/loginLogo.png) no-repeat;
}

.content {
  width: 100%;
  height: 570px;
  position: fixed;
  // right: 12.5%;
  top: 50%;
  margin-top: -285px;
  .text {
    float: left;
    padding: 185px 0;
    p {
      margin: 0;
      padding: 0;
      font-family: SourceHanSansSC-Medium;
      font-size: 48px;
      color: #ffffff;
      letter-spacing: 0;
      line-height: 100px;
      margin-right: 170px;
    }
  }
}

.login-box {
  width: 450px;
  height: 570px;
  // float: right;
  background: #fff;
  margin: 0 auto;
  h5 {
    width: 100%;
    height: 87px;
    line-height: 47px;
    padding-left: 40px;
    padding-top: 40px;
    margin: 0;
    font-family: SourceHanSansSC-Medium;
    font-size: 32px;
    color: #2a2e31;
    font-weight: normal;
  }
  ul {
    padding: 0;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    li {
      width: 50px;
      height: 50px;
      margin: 0 25px;
      display: inline-block;
      list-style: none;
      &.weixin {
        background: url(/assets/images/weixin.png) no-repeat;
        background-position: 0 0;
        &:hover {
          background-position: 0 -50px;
        }
      }
      &.sina {
        background: url(/assets/images/sina.png) no-repeat;
        background-position: 0 0;
        &:hover {
          background-position: 0 -50px;
        }
      }
      &.qq {
        background: url(/assets/images/qq.png) no-repeat;
        background-position: 0 0;
        &:hover {
          background-position: 0 -50px;
        }
      }
    }
  }
}

.login {
  padding-left: 40px;
  padding-top: 40px;
  position: relative;
  .error {
    width: 370px;
    height: 24px;
    line-height: 24px;
    font-family: SourceHanSansSC-Regular;
    font-size: 12px;
    color: #2a2e31;
    border: 1px solid #ffad96;
    padding-left: 23px;
    position: absolute;
    top: 10px;
    left: 40px;
    background: #fff1ea url(/assets/images/loginError.png) 7px center no-repeat;
  }
  div {
    position: relative;
    padding-bottom: 30px;
  }
  input {
    width: 370px;
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: left;
    padding-right: 10px;
    padding-left: 60px;
    border: 1px solid #b8bac1;
    font-family: SourceHanSansSC-Medium;
    font-size: 18px;
    color: #2a2e31;
    &:focus {
      border: 1px solid #1985d5;
    }
    &::-webkit-input-placeholder {
      color: #b5bbbf;
      font-family: SourceHanSansSC-Medium;
      font-size: 18px;
    }
    &:-moz-placeholder {
      color: #b5bbbf;
      font-family: SourceHanSansSC-Medium;
      font-size: 18px;
    }
    &:-ms-input-placeholder {
      color: #b5bbbf;
      font-family: SourceHanSansSC-Medium;
      font-size: 18px;
    }
    &.ng-dirty.ng-invalid {
      border: 1px solid #ff6464;
    }
  }
  button {
    background: #1985d5;
    width: 370px;
    height: 60px;
    color: #fff;
    font-family: SourceHanSansSC-Medium;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    border: 0 none;
  }
  i {
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    position: absolute;
  }
  .user-name {
    i {
      background: url(/assets/images/userNameBg.png) left 17px center no-repeat;
    }
  }
  .pass-word {
    i {
      background: url(/assets/images/passwordBg.png) left 17px center no-repeat;
    }
  }
  .btn-submit {
    padding-top: 34px;
  }
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #1985d5;
  top: 0;
  left: 0;
  // background: url(/assets/images/bg.png) no-repeat;
  background-size: cover;
}
